:root {
    /* primary-colors */
    --body-background-color: rgb(205, 225, 240);
    --body-background-color-phone: rgb(155, 245, 155);
    --nav-list-color: rgb(10, 10, 254);
    --nav-list-hover: rgb(80, 80, 254);
    --modal-content-background-color: rgb(254, 254, 254);
    --modal-header-background-color: #f1f1f1;
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: var(--body-background-color);
  justify-items: center;
}

h1 {
  margin: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-family: 'Arial', sans-serif;
  font-size: 2.5rem;
  text-shadow: 2px 2px 2px rgba(255,255,255,0.7);
}

.bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;       /* controls size */
  height: 100vh;
  object-fit:contain;  /* cover the screen */
  opacity: 0.3;       /* controls opacity */
  z-index: -1;
}

.content {
  position: relative;
  z-index: 1;
}


#nav-list {
    display: flex;
    flex-direction: row;
    gap: .5rem;
    list-style: none;
    padding: 0;
    margin: 0;
}

#nav-list li {
    color: var(--nav-list-color);
    cursor: pointer;
    font-size: 20px;
}

#nav-list li:hover {
  color: var(--nav-list-hover);
}


button {
  padding: 10px 16px;
  font-size: 16px;
}

/* Desktop styles */
/* body {
  background: lightblue;
} */

/* Mobile styles */
/* @media (max-width: 600px) {
  body {
    background: var(--body-background-color-phone);
    }
} */
