:root {
    /* primary-colors */
    --body-background-color: rgb(245, 245, 245);
    --modal-content-background-color: rgb(254, 254, 254);
    --modal-header-background-color: #f1f1f1;
}

body {
  font-family: sans-serif;
  padding: 2rem;
  background: var(--body-background-color);
  display: flex;
  justify-content: center;
}

button {
  padding: 10px 16px;
  font-size: 16px;
}
