:root {
    /* primary-colors */
    --body-background-color: rgb(205, 225, 240);
    --body-background-color-phone: rgb(155, 245, 155);
    --nav-list-color: rgb(10, 10, 254);
    --nav-list-hover: rgb(80, 80, 254);
    --modal-background-color: rgba(0, 0, 0, 1);
    --modal-content-background-color: rgb(254, 254, 254);
    --modal-header-background-color: #f1f1f1;
    /* primary-colors */
    --primary-button-background: rgb(40, 90, 230);
    --primary-button-hover-background: rgb(20, 70, 210);
    --primary-button-active-background: rgb(20, 40, 200);

    --insert-button-background: rgb(70, 210, 10);
    --insert-button-hover-background: rgb(50, 190, 10);
    --insert-button-active-background: rgb(30, 170, 10);

    --delete-button-background: rgb(230, 15, 15);
    --delete-button-hover-background: rgb(200, 15, 15);
    --delete-button-active-background: rgb(170, 15, 15);

    --unit-button-background: rgb(20, 70, 255);
    --unit-button-hover-background: rgb(20, 90, 255);
    --unit-button-active-background: rgb(0, 0, 205);

    /* softer-colors */
    --light-blue-button-background: rgb(50, 170, 250);
    --light-blue-button-hover-background: rgb(40, 150, 250);
    --light-blue-button-active-background: rgb(30, 130, 250);

    --grey-button-background: rgb(170, 170, 170);
    --grey-button-hover-background: rgb(150, 150, 150);
    --grey-button-active-background: rgb(130, 130, 130);

    --light-grey-button-background: rgb(211, 211, 211);
    --light-grey-button-hover-background: rgb(191, 191, 191);
    --light-grey-button-active-background: rgb(171, 171, 171);

    /* text-colors */
    --button-text-color: black;
    --button-text-color-white: white;
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: var(--body-background-color);
  justify-items: center;
}

h1 {
  margin: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-family: 'Arial', sans-serif;
  font-size: 48px;
  text-shadow: 2px 2px 2px rgba(255,255,255,0.7);
}

button {
  padding: 1rem 2rem;
  font-size: 3rem;
  align-self: center;
  border-radius: 0.5rem;
}

.bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;       /* controls size */
  height: 100vh;
  object-fit:contain;  /* cover the screen */
  opacity: 0.3;       /* controls opacity */
  z-index: -1;
}


.modal {
    display: none;
    position: fixed;
    z-index: 4;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--modal-background-color);
}

/* Modal Content/Box */
.modal-content {
    position: absolute; /* or fixed, depending on your needs */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--modal-content-background-color);
    /* border: 1px solid var(--modal-border-color);
    border-radius: 5px; */
}
#pictures-one-div {
  display: flex;
  justify-content: center;
}
.pictures-one {
  object-fit: contain;
  display: none;
  width: 90vw;
  height: auto;
}

#butts {
  display: flex;
  justify-content: center;
  gap: 5px;
  background-color: var(--modal-background-color);
}


@media (min-width: 1200px) {
  #pictures-one-div {
    display: flex;
    justify-content: center;
  }
  .pictures-one {
    object-fit: contain;
    display: none;
    width: 400px;
    height: 534px;
  }
}


.primary-button {
    background-color: var(--primary-button-background);
    color: var(--button-text-color-white);
    border: 2px solid black;
    transition: background-color 0.3s, border-color 0.3s, color 0.3s;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
}

.primary-button:hover {
    background-color: var(--primary-button-hover-background);
}

.primary-button:active {
    background-color: var(--primary-button-active-background);
    transform: translate(0.05rem, 0.05rem);
}

.insert-button {
    background-color: var(--insert-button-background);
    color: var(--button-text-color-white);
    border: 2px solid black;
    transition: background-color 0.3s, border-color 0.3s, color 0.3s;
    cursor: pointer;
    font-family: Helvetica;
}

.insert-button:hover {
    background-color: var(--insert-button-hover-background);
}

.insert-button:active {
    background-color: var(--insert-button-active-background);
    transform: translate(0.05rem, 0.05rem);
}

.delete-button {
    background-color: var(--delete-button-background);
    color: var(--button-text-color-white);
    border: 2px solid black;
    transition: background-color 0.3s, border-color 0.3s, color 0.3s;
    cursor: pointer;
    font-family: Helvetica;
}

.delete-button:hover {
    background-color: var(--delete-button-hover-background);
}

.delete-button:active {
    background-color: var(--delete-button-active-background);
    transform: translate(0.05rem, 0.05rem);
}

.light-blue-button {
    background-color: var(--light-blue-button-background);
    color: var(--button-text-color-white);
    border: 2px solid black;
    transition: background-color 0.3s, border-color 0.3s, color 0.3s;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: -0.5px -0.5px 0 #000, 0.5px -0.5px 0 #000, -0.5px 0.5px 0 #000, 0.5px 0.5px 0 #000;
}

.light-blue-button:hover {
    background-color: var(--light-blue-button-hover-background);
}

.light-blue-button:active {
    background-color: var(--light-blue-button-active-background);
    transform: translate(0.05rem, 0.05rem);
}

.grey-button {
    background-color: var(--grey-button-background);
    color: var(--button-text-color);
    border: 2px solid black;
    transition: background-color 0.3s, border-color 0.3s, color 0.3s;
    cursor: pointer;
    font-family: Helvetica;
    font-weight: 600;
}

.grey-button:hover {
    background-color: var(--grey-button-hover-background);
}

.grey-button:active {
    background-color: var(--grey-button-active-background);
    transform: translate(0.05rem, 0.05rem);
}

.light-grey-button {
    background-color: var(--light-grey-button-background);
    color: var(--button-text-color);
    border: 2px solid black;
    transition: background-color 0.3s, border-color 0.3s, color 0.3s;
    cursor: pointer;
    font-family: Helvetica;
}

.light-grey-button:hover {
    background-color: var(--light-grey-button-hover-background);
}

.light-grey-button:active {
    background-color: var(--light-grey-button-active-background);
    transform: translate(0.05rem, 0.05rem);
}

.unit-button {
    background-color: var(--unit-button-background); /* Base color: dark gray */
    border: none;
    text-align: center;
    cursor: pointer;
    border: 1px solid black;
    color: var(--button-text-color-white);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.unit-button:hover {
    background-color: var(--unit-button-hover-background);
    transform: scale(1.04);
}

.unit-button:active,
.unit-button.active {
    transform: scale(0.98);
    background-color: var(--unit-button-active-background);
}


